#disable_html_escaping()
#if($legacyBehaviour)
    #if ($timetracking.estimateDisplayValue)
        $textutils.htmlEncode($timetracking.estimateDisplayValue)
    #end
#else
    #if ($timetracking.targetSubField != 'timetracking_remainingestimate')
        $i18n.getText('common.concepts.original.estimate') :
        #if ($timetracking.originalEstimateDisplayValue)
            $textutils.htmlEncode($timetracking.originalEstimateDisplayValue)
        #end
    #end
    #if (!$timetracking.targetSubField)
    <br>
    #end
    #if ($timetracking.targetSubField != 'timetracking_originalestimate')
        $i18n.getText('common.concepts.remaining.estimate') :
        #if ($timetracking.remainingEstimateDisplayValue)
            $textutils.htmlEncode($timetracking.remainingEstimateDisplayValue)
        #end
    #end
#end
