#disable_html_escaping()
#searcherHeaderNoField ($searcherId $i18n.getText($searcherNameKey))
#foreach ($object in $selectedObjects)
    $textutils.htmlEncode($object)#commaonly($selectedObjects)
#end
#searcherFooter ($searcherId)
